<form #userForm="ngForm"> 
    <div [hidden]="userForm.submitted"> 
    <h1>Template-Driven Form Example</h1>
    <h3>Simple Login Page</h3>
    <label  class="label-alignment">Username:</label>
    <br>
    <input type="text" required name="username" class="textbox-alignment" #name="ngModel" [(ngModel)]="userDetails.userName"
    [class.is-invalid]="name.invalid && name.touched"> 
    <div *ngIf="name.errors && (name.invalid && name.touched)">
        <small class="error">Username is required.</small>
    </div>
    <br>
    <label class="label-alignment">Password:</label>
    <br>
     <input type="password" required name="password" class="textbox-alignment" #password="ngModel" [(ngModel)]="userDetails.password"
     [class.is-invalid]="password.invalid && password.touched"> 
     <div *ngIf="password.errors && (password.invalid && password.touched)">
        <small class="error">Password is required.</small>
    </div>
    <br><br>
    <button type="submit" [disabled]="userForm.invalid" >Log in</button>
    <button type="button" (click)="userForm.resetForm({})"style="margin-left: 8px;">Reset</button>
    </div> 
</form>
<div *ngIf="userForm.submitted">
    <br><br>
    <label class="text-alignment">Username:{{userDetails.userName}}</label>
    <br>
    <label class="text-alignment">Username:{{userDetails.password}}</label>
</div>

